
.padding-top{
    padding-top: 130px;
}
.padding-top2{
    padding-top: 30px;
    padding-bottom: 30px;
}
.login-background-color{
    background-color: #0f5288;
}
h4{
    font-size: 2rem;
}

.text-bold{
    font-weight:bold ;
}
.text-blue{
    color: white;
}
.text-white{
    color: white;
}
.text-white:hover{
    color: white;
}
.no-margin{
    margin-left: 0px;
    margin-right: 0px;
}
.no-pad{
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width: 420px){
    .admin_logo{
        width: 80px;
    }
    .form-login{
        padding-left: 10px;
        padding-right: 10px;
    }
}