
body{
	font-weight:400;
	font-family: 'Cabin' !important;
	line-height: 1.3em;
	letter-spacing: 0.04em;
	margin: 0 auto;
}

.text-bold{
	font-weight: bold;
}
.text-primary{
	color:#0f5288 !important;
}
.text-success{
	color:#046031 !important;
}
.board {
	margin: 30px 0;
	border-bottom: 1px solid #046031;
}
.none{
	display: none;
}

/*.individualTabs, .nonResidence{
	display: none;
}
.occupationOthersForm{
	display: none;
}*/
.imageStyle{
	height:140px;
	width:140px;
}
.rightThumb,.leftThumb{
	border:1px solid black;
	padding:82px;
}
.locationMap{
	border:1px solid black;
	padding:182px;
}
.bottomText{
	position: absolute;
	bottom:0;
	text-align: center !important;
}
#add,#addExecutive{
	border-radius: 5px;
	background-color: #046031;
}
.pad-top14{
	padding-top: 14px;
}
.logo-size{
	width: 50px;
}
.text-black{
	color: black !important;
}
.remove,.removeExecutive{
	border-radius: 5px;
	background-color: #d2322d;

}
.bg-green{
	background-color: green;
	color: white;
}
.bg-green:hover{
	background-color: #4cae4c;
	color: white;
}
.row{
	margin-left:0px;
	margin-right:0px;
}

#wrapper {
	padding-left: 70px;
	transition: all .4s ease 0s;
	height: 100%
}

#sidebar-wrapper {
	margin-left: -150px;
	left: 70px;
	width: 150px;
	background: #222;
	position: fixed;
	height: 100%;
	z-index: 10000;
	transition: all .4s ease 0s;
}

.sidebar-nav {
	display: block;
	float: left;
	width: 150px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#page-content-wrapper {
	padding-left: 0;
	margin-left: 0;
	width: 100%;
	height: auto;
}
#wrapper.active {
	padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
	left: 150px;
}

#page-content-wrapper {
	width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
	color: #999;
	display: block;
	float: left;
	text-decoration: none;
	width: 150px;
	background: #252525;
	border-top: 1px solid #373737;
	border-bottom: 1px solid #1A1A1A;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
	-ms-transition: background .5s;
	transition: background .5s;
}
.sidebar_name {
	padding-top: 25px;
	color: #fff;
	opacity: .7;
}

.sidebar-nav li {
	line-height: 40px;
	text-indent: 20px;
}

.sidebar-nav li a {
	color: #999999;
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	color: #fff;
	background: rgba(255,255,255,0.2);
	text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	line-height: 60px;
	font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

#main_icon
{
	float:right;
	padding-right: 65px;
	padding-top:20px;
}
.sub_icon
{
	float:right;
	padding-right: 65px;
	padding-top:10px;
}
.content-header {
	height: 65px;
	line-height: 65px;
}

.content-header h1 {
	margin: 0;
	margin-left: 20px;
	line-height: 65px;
	display: inline-block;
}

@media (max-width:767px) {
	#wrapper {
		padding-left: 70px;
		transition: all .4s ease 0s;
	}
	#sidebar-wrapper {
		left: 70px;
	}
	#wrapper.active {
		padding-left: 150px;
	}
	#wrapper.active #sidebar-wrapper {
		left: 150px;
		width: 150px;
		transition: all .4s ease 0s;
	}
}
.pad-top{
	padding-top: 150px;
}
.pad-top-50{
	padding-top: 50px;
}
.box{
	width: 100%;
	height: 300px;
}
.box1{
	width: 100%;
	height: 200px;
}
.box1 span{
	padding-top: 10px;
	font-size: 100px;
}
.box1 h1{
	padding-top: 0px;
	font-size: 40px;
	font-weight: bold;
}
.box-blue{
	background-color: #0f5288;
	color: white;

}
.box-green{
	color: white;
	background-color: darkgreen;
}
.box-red{
	color: white;
	background-color:#56c4c5;
}
.heading-size{
	font-size: 40px;
}
.darkgreen{
	color: darkgreen;
}
.box-orange{
	color: white;
	background-color: #994f06;

}
.box span{
	padding-top: 10px;
	font-size: 150px;
}
.box h1{
	padding-top: 20px;
	font-size: 50px;
	font-weight: bold;
}
.text-white{
	color:#fff !important;
}
.menuMaxCharacter{
	overflow: hidden;
	max-width: 18ch;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.container {
	padding-right: 5px !important;
	padding-left: 5px !important;
	margin-right: auto;
	margin-left: auto;
}
.no-pad{
	padding-left:0 !important;
	padding-right:0 !important;

}
.navbar-default{
	background-color: #0f5288 !important;
	border-radius: 0px !important;
	border-color:#0f5288;

}
.navbar-default .navbar-nav>li>a{
	color:#fff !important;
}

div.bhoechie-tab-container{
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border:1px solid #ddd;
	margin-top: 20px;
	margin-left: 50px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
	margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
	margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
	color: #046031;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
	background-color: #046031;
	color: #ffffff;
	border-color:#046031;
	border-radius:0px !important;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #046031;
}

div.bhoechie-tab-content{
	/*background-color: #ffffff;
	padding-left: 20px;
	padding-top: 10px;*/
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
	display: none;
}
label{
	font-size:15px;
}
.width22{
	width: 22% !important;
}
.width15{
	width: 17% !important;
}
.pad15{
	padding-left: 15px;
	padding-right: 15px;
}
.text-right{
	text-align: right !important;
}
.pad5{
	padding-left: 5px;
	padding-right: 5px;
}
.text-uppercase{
	text-transform: uppercase !important;
}
.div-top{
	position: relative;
	top: 20px;
}
.form-group{
	margin-bottom: 5px !important;
}
.add{
	background-color: #5cb85c ;
	color: white;
}
.add:hover{
	background-color: darkgreen;
	color: white;
}
table{
	width: 100%;
}
.wrapper{
	padding-top:80px;
}
.sweet-alert button.cancel {
    background-color: #a20000d9 !important;
}
#branches_forms{
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 10px;
}
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#img-upload{
	width: 250px;
	height: 210px;
}
.sweet-alert button{
	background-color: #0f5288 !important;
}
#boidDiv,#clearingMemberDiv{
	display: none;
}
.image-preview-input {
	position: relative;
	overflow: hidden;
	margin: 0px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
	margin-left:2px;
}